@import url("https://fonts.googleapis.com/css?family=Righteous");
body {
  background: #0a0a0a;
}

.title-bar-title {
  font-family: "Righteous", Arial, sans-serif;
  font-size: 30px;
  margin-left: 35vw;
}

.success {
  background-color: #3dffcb !important;
  font-family: "Righteous", Arial, sans-serif;
  border-radius: 5px;
  outline: none;
}

#editor {
  height: 84.5vh;
}

#preview {
  background-color: #FFFFFF;
  padding: 5px;
}

.toolbar {
  font-family: "Righteous", Arial, sans-serif;
  font-size: 20px;
  position: relative;
  padding: 5px 0px 2px 10px;
}
.toolbar .fa-angle-double-right, .toolbar .fa-angle-double-left {
  position: absolute;
  right: 15px;
  transform: scale(1.5);
}

.editorWrap {
  height: 90vh;
  width: 50%;
  background-color: #88ddfc;
}
.editorWrap .toolbar {
  background-color: #0bb9f9;
}

.previewWrap {
  height: 90vh;
  width: 50%;
  overflow: auto;
  background-color: #bdffed;
}
.previewWrap .toolbar {
  background-color: #3dffcb;
}

.hide {
  opacity: 0;
}

.maximized {
  width: 95vw;
}

code {
  background: #bdffed;
}
